<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>1st and Go</h1>
<h3>An NFL fantasy football API made with the go programming language!</h3>

<div class="input-group">
    <span class="input-group-addon"
          id="basic-addon1"
          ng-click="model.searchForPlayers(playerSearchText)">
        Search
    </span>
    <input ng-model="playerSearchText"
           type="text" class="form-control" placeholder="Player Name"
           aria-describedby="basic-addon1">

</div>
<div ng-show="vm.players">
    <span ng-repeat="player in vm.players">{{player}}</span>
</div>
</body>
</html>